{% extends "base.html" %}
{% include 'includes/messages.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\bienimmo_form.css' %}">

<div class="property-form-container">
  <h2 class="page-title">Modifier le bien</h2>
  
  <form method="post" enctype="multipart/form-data" class="property-form">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
      <p class="help-text">{{ field.help_text }}</p>
      {% endif %}
      
      {% if field.errors %}
      <ul class="errorlist">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    
    <button type="submit" class="submit-btn">Enregistrer</button>
  </form>
</div>
{% endblock %}