{% extends "base.html" %}
{% include 'includes/messages.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\bienimmo_confirm_delete.css' %}">

<div class="delete-confirmation-container">
  <div class="warning-icon">⚠️</div>
  <h2 class="delete-confirmation-title">Confirmer la suppression</h2>
  
  <p class="delete-confirmation-message">Voulez-vous vraiment supprimer ce bien immobilier ?</p>

  <form method="post">
    {% csrf_token %}
    <div class="delete-confirmation-buttons">
      <button type="submit" class="delete-btn">Oui, supprimer</button>
      <a href="{% url 'Products' %}" class="cancel-btn">Annuler</a>
    </div>
  </form>
</div>
{% endblock %}