{% extends 'base.html' %}
{% include 'includes/messages.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css\dashboard_entrepreneur.css' %}">
<div class="page-container">
    <h2>Réservations en attente</h2>
    
    {% if reservations %}
    <ul class="reservation-list">
        {% for r in reservations %}
        <li class="reservation-item">
            <p><strong>Bien :</strong> {{ r.bien.name }}</p>
            <p><strong>Client :</strong> {{ r.client.user.username }}</p>
            <p><strong>CIN :</strong> {{ r.client.user.Carteid }}</p>
            <p><strong>Date :</strong> {{ r.reservation_date }} à {{ r.reservation_time }}</p>
            <p><strong>Statut :</strong> {{ r.get_status_display }}</p>

            {% if r.status == 'en_attente' %}
            <a href="{% url 'traiter_reservation' r.id 'accepter' %}" class="btn btn-success">✅ Accepter</a>
            <a href="{% url 'traiter_reservation' r.id 'refuser' %}" class="btn btn-danger">❌ Refuser</a>
            {% else %}
            <a href="{% url 'traiter_reservation' r.id 'annuler' %}" class="btn btn-danger">❌ Annuler</a>
            <span class="status-label {{ r.status }}">{{ r.get_status_display }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Aucune réservation en attente.</p>
    {% endif %}
{% if user.status != 'admin' %}
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<div class="dashboard-header">
  <h1>Gestion des annonces</h1>
</div>

<div class="biens-grid">
  {% for bien in biens %}
    <div class="bien-card">
      <div class="bien-image-container">
        <p>Statut :
          {% if bien.active %}
            <span class="status-available">Disponible</span>
          {% else %}
            <span class="status-unavailable">Non disponible</span>
          {% endif %}
        </p>
        {% if bien.image1 %}
          <img src="{{ bien.image1.url }}" alt="Image du bien" class="bien-image">
        {% else %}
          <div class="bien-image-placeholder">Image non disponible</div>
        {% endif %}
      </div>
      <div class="bien-content">
        <h3 class="bien-title">{{ bien.name }}</h3>
        <h3 class="bien-address">{{ bien.address }}</h3>
        <a href="{% url 'Product' bien.id %}" class="view-details">Voir plus de détails</a>
        <div class="bien-actions">
          {% if bien.active %}
            <form method="post" action="{% url 'update_bien_status' bien.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-delete">Désactiver l'annonce</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}
