{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\inbox.css' %}">


<div class="inbox-container">
  <h2>Boîte de réception</h2>
  
  {% for message in messages %}
    <div class="message-card">
      <div class="message-meta">
        <span class="message-label">De:</span>
        <span class="message-value">{{ message.sender.username }}</span>
      </div>
      <div class="message-meta">
        <span class="message-label">Bien:</span>
        <span class="property-name">{{ message.bien.name }}</span>
      </div>
      <p class="message-preview">{{ message.content|truncatechars:100 }}</p>
      <a href="{% url 'conversation' bien_id=message.bien.id recipient_id=message.sender.id %}" class="view-conversation">Voir la conversation</a>
    </div>
  {% empty %}
    <div class="no-messages">
      <p>Aucun message dans votre boîte de réception.</p>
    </div>
  {% endfor %}
</div>
{% endblock content %}