{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\mesfav.css' %}">
<div class="favorites-container">
  <h2 class="favorites-header">Mes Favoris</h2>

  {% if favoris_list %}
    <ul class="favorites-list">
      {% for favoris in favoris_list %}
        <li class="favorite-item">
          <a href="{% url 'Product' favoris.bien.id %}">
            <div class="favorite-image">
              {% if favoris.bien.image1 %}
                <img src="{{ favoris.bien.image1.url }}" alt="{{ favoris.bien.name }}">
              {% else %}
                <div class="no-image-small">No image</div>
              {% endif %}
            </div>
            <div class="favorite-details">
              <span class="favorite-name">{{ favoris.bien.name }}</span>
              <span class="favorite-type">{{ favoris.bien.type }}</span>
            </div>
            <div class="favorite-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
              </svg>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="favorites-empty">
      <p>Vous n'avez pas encore ajouté de biens à vos favoris.</p>
    </div>
  {% endif %}
</div>

{% endblock %}