{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\profile.css' %}">


<div class="profile-container">
  <div class="profile-header">
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
  </div>
  
  <div class="profile-section">
    <h3>Basic Information</h3>
    <ul class="profile-data">
      {% if user.profile_picture %}
        <li>
          <strong>Profile:</strong>
          <div>
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="200" class="profile-picture">
          </div>
        </li>
      {% endif %}
      <li><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</li>
      <li><strong>Status:</strong> {{ user.status }}</li>
      <li><strong>CIN:</strong> {{ user.Carteid }}</li>
      <li><strong>Email:</strong> {{ user.email }}</li>
    </ul>
  </div>

  {% if user.status == 'entrepreneur' or user.status == 'admin' %}
    <div class="profile-section">
      <ul class="profile-data">
        <li><strong>Phone:</strong> {{ user.phone_number }}</li>
        <li><strong>Birth Date:</strong> {{ user.date_of_birth }}</li>
        <li><strong>Address:</strong> {{ user.address }}</li>
      
      </ul>
    </div>
  {% else %}
    <div class="no-details">
      <p>No additional details found. check if you Completed your profile to add more information.</p>
    </div>
  {% endif %}
</div>

{% endblock %}